body {
  position: fixed;
  overflow: hidden;
background-color: #121212;
}

.vertical-line{
  position: absolute;
  top: 15%;
  bottom: 0;
  left: 80%;
  width: 1px;
  height: 120%;
  background-color:#2B2B2B;
}

.toolbar {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 50px;
  background-color: #121212;
  color: #FFFFFFB2;
  opacity: 50%;

}

button {
  margin-right: 20px;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  color: #f1f1f1;
  cursor: pointer;

}

.View_buttons {
  background-color: #2B2B2B;
  color: #FFFFFFB2;
  width: 130px;
  height: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  transform: translate(520%,900%);
  text-align: center;
}

.Extract_buttons {
  background-color: #2B2B2B;
  color: #FFFFFFB2;
  width: 130px;
  height: 25px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  border-radius: 30px;
  transform: translate(650%,800%);
 
}

.header {
  background-color: #121212;
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 70px;

}

.title {
  color: #FFFFFFB2;
  font-size: 50px;
  opacity: 70%;
  margin: 0;

}

.title4{
  color: #FFFFFFB2;
  Transform: translate(450%,-380%);
  position: fixed;
  font-size: 20px;
  opacity: 50%;
  margin: 0;


}
.title1{
  color: #FFFFFFB2;
  Transform: translate(250%,-120%);
  position: fixed;
  font-size: 50px;
  margin: 0;

}

.title2{
  color: #FFFFFFB2;
  Transform: translate(170%,-80%);
  position: fixed;
  font-size: 20px;
  opacity: 50%;
  margin: 0;

}
.title3{
  color: #FFFFFFB2;
  Transform: translate(260%,20%);
  position: fixed;
  font-size: 20px;
  opacity: 50%;
  margin: 0;

}

.button1{
  padding: 10px 20px;
  background-color: #1A1A1A;
  margin-left: 50px;
  width: 200px;
  height: 240px;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  transform: translate(10%, 30%);

}

.icon {
  width: 60px;
  height: 80px;
  display: flex;
  flex-direction: column;
  background-color: #2B2B2B;
  padding: 30px 55px;
  border: none;
  border-radius: 10px 10px;
  transform: translate(-3%,0%);

}

.text1{
  color: #FFFFFFB2;
  display: flex;
  justify-content: left;
  align-items: left;
  transform: translate(0%,60%);

}

.text2{

  color: #FFFFFFB2;
  opacity: 50%;
  display: flex;
  justify-content: left;
  align-items: left;
  font-size: 10px;
  transform: translate(0%,20%);

}

.button2 {
  width: 350px;
  height: 70px;
  background-color: #121212;
  border: 1px solid #FFFFFFB2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
  padding: 20px;
  position: fixed;
  top: 45%;
  left: 52%;
}
.text {
  font-weight: bold;
}

.button3 {
  position: fixed;
  top: 10px;
  right: 10px;

}

.image {
  width: 30px;
  height: 30px;

}